# Ignore everything
*

# zsh/bash configuration
!.zshrc
!.bash_aliases
!.gitconfig
!.gitignore_global
!.gitignore

!.oh-my-zsh/custom/travis.zsh
!.oh-my-zsh/custom/docker.zsh

# other configs
!.tmux.conf

# maven
!.m2/
!.m2/settings.xml

# sbt
!.sbt/
!.sbt/0.13/global.sbt
!.sbt/0.13/plugins/
!.sbt/0.13/plugins/plugins.sbt
